body{
    font-size: 64px;
}

.main-section {
    background: #fff;
    position: relative;
    /* margin-top: -64px; */
    border: 1px solid transparent;

}

.content-body{
    margin-top: 113px;
}

@media all and (max-width: 1200px) { 
    body {
        font-size: 54px;
    }

}
@media all and (max-width: 834px) { 
    .content-body{
        margin-top: 85px;
    }

}

@media all and (max-width: 575px) { 
    .content-body{
        margin-top: 40px;
    }
}