#dvd {
  position: absolute;
  background-size: 100% auto;
  background-repeat: no-repeat;
  width: 100px;
  height: 100px;
  color: #fff;
  background-image: url('/assets/dvd/portrait1.jpg');
  z-index:50;
}

#dvd-mask{
  position: absolute;
  z-index:49;
  top: 0px;
  width: 100vw;
  height: 100vh;
  background: rgb(255, 255, 255);
}

.fade-out-dvd{
  opacity: 0 !important;
  transition: all 0.3s;
}